.s1 {
  color: black;
  width: 800px;
  height: 900px;
  border: 1px solid black;
  background: orange;
  text-align: center;

  margin: 0 auto;
  font-size: 20px;
}
.mods {
  font-size: 33px;
}
html body {
  background: linear-gradient(rgb(50, 250, 223), rgb(100, 252, 86));
}
.dip {
  font-size: 130%; /* Размер шрифта */
  border-bottom: 2px solid maroon; /* Параметры линии под текстом */
  font-weight: normal; /* Убираем жирное начертание */
  padding-bottom: 5px; /* Расстояние от текста до линии */
}
